# ============================
# ENVIRONMENT VARIABLES
# ============================
*.env
*.env.*
.env
.env.*

# ============================
# DATABASE (MariaDB volume)
# ============================
DB/db_data/
db_data/
*/db_data/

# ============================
# DOCKER
# ============================
# Ignore local docker volumes
docker-compose.override.yml
docker-data/
.docker/

# ============================
# NODE / BACKEND (en caso de usar NodeJS)
# ============================
node_modules/